

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">TeLlevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="content">
      <div class="ion-input-center">  
        <h1>Bienvenido!</h1>
        <br>
        <br>
        <ion-input aria color="primary" placeholder="Usuario"></ion-input>
        <ion-input aria color="primary" placeholder="Password"></ion-input>
      </div>
      
       <br>
       <br>
      <ion-button routerLink="/main" fill="outline" class="ion-activatable">Ingresar</ion-button>  <ion-button routerLink="/prueba"fill="outline" class="ion-activatable">Registro</ion-button>
      <br>
      <br>
      <br>
      <ion-router-link routerLink="/new-pass">Olvidé mi contraseña</ion-router-link>



      
    </div>
    
    </body>
</ion-content>
