#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
<<<<<<< HEAD
=======

.content {
  top: 52%;
}
>>>>>>> 8a04bccfade98ba203b815198442f549e4cccee5

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
<<<<<<< HEAD
}
=======
}

.ion-input-center {
  color: black;
}

h1 {
  text-align: center;
  font-size: 46pt;
  font-weight: bold;
}
>>>>>>> 8a04bccfade98ba203b815198442f549e4cccee5
