ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
ion-title{
  text-align: center;
}

ion-button {
  margin-top: 20px; /* Espacio entre el botón y el contenido */
}
