<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Bienvenido!</ion-title>
    </ion-toolbar>
  </ion-header>

  <body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="card-container">
      <ion-card class="custom-card">
        <img alt="tengoAuto" src="/assets/pedidos-en-linea-de-taxi-coche-alquiler-y-compartir-utilizan2do-el-servicio-movil-2e8xgy5.jpg" />
        <ion-card-header>
          <ion-card-title>Quiero viajar!</ion-card-title>
        </ion-card-header>
          </ion-card>
      <ion-card class="custom-card">
        <img alt="quieroAuto" src="/assets/190047970-alquiler-de-automóviles-reserva-de-reserva-y-uso-compartido-mediante-la-aplicación-móvil-de.jpg" style="max-height: 245px"  />
        <ion-card-header>
          <ion-card-title>Tengo auto!</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </body>
  
</ion-content>